/* Table of Contents
--------------------------------------------
- Global Settings
- General Content
- Typography
- Header & Navigation
- Images & Media
- Footer
- Media Queries
-------------------------------------------- */

/* Global Settings
-------------------------------------------- */

@font-face {
  font-family: Commando;
  src: url("../fonts/commando.ttf");
}

@font-face {
  font-family: Avenir;
  src: url("../fonts/AvenirLTStd-Roman.otf");
}

@font-face {
  font-family: Doubleplus;
  src: url("../fonts/Doubleplus-6Yy4g.ttf");
}

@font-face {
  font-family: Gumela;
  src: url("../fonts/Gumela.ttf");
}

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
}

/* General Content
-------------------------------------------- */
.form__input {
  display: block;
}

body {
  background-color: #131521;
}

/* Typography
-------------------------------------------- */
h1 {
  font-family: "Commando", sans-serif;
  text-transform: uppercase;
  color: #1b203d;
  font-size: 12.4375rem;
  text-align: center;
}

.acctitle {
  font-style: italic;
  color: #e6ae65;
}

.indexh2 {
  font-family: "Avenir", sans-serif;
  color: #bac5cf;
  font-size: 1.875rem;
  border-bottom: 2px solid #e6ae65;
  line-height: 0.85;
  display: inline-block;
  padding-bottom: 5px;
}

.footerh2 {
  font-family: "Avenir", sans-serif;
  font-size: 1rem;
  color: #131521;
  border-bottom: 1px solid #1b203d;
}

.copyh2 {
  font-family: "Avenir", sans-serif;
  font-size: 1rem;
  color: #131521;
}

.contacth2 {
  font-family: "Gumela", sans-serif;
  font-size: 2.5rem;
  color: #e6ae65;
  text-align: center;
}

.indexh3 {
  font-family: "Doubleplus", sans-serif;
  font-size: 2.1875rem;
  color: #bac5cf; /*hover in #e6ae65 */
  text-decoration: none;
  font-weight: normal;
}

/* Header & Navigation
-------------------------------------------- */

header {
  background: #e6ae65;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1%;
  position: sticky;
}

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.topnav .item {
  border-radius: 30px;
  background: #1b203d;
  padding: 8px;
  display: inline-block;
  width: 180px;
  height: 54px;
  text-align: center;
}

li,
.item {
  font-family: "Doubleplus", sans-serif;
  font-size: 1.875rem;
  color: #bac5cf; /*hover in #e6ae65 */
  text-decoration: none;
}

.loginsvg {
  height: 3.52375rem;
  width: 3.375rem;
}

.svg {
  position: absolute;
  height: 3.52375rem;
  width: 3.375rem;
}

.links:hover :first-child {
  color: #e6ae65;
}

.logo:hover,
.login:hover,
.links:hover,
.main-button:hover {
  scale: 1.1;
}

.start {
  display: flex;
  align-items: center;
  flex-flow: column;
  padding-top: 2rem;
}

.main-button {
  margin-top: 4rem;
  border-radius: 45px;
  background: #1b203d;
  width: 368px;
  height: 86px;
  padding: 20px;
  text-align: center;
}

/* Images & Media
-------------------------------------------- */
.banner {
  background: #e6ae65;
  width: 92rem;
  line-height: 22.6875rem;
  margin: 4.6875rem auto;
  box-shadow: 1.4375rem 1.4375rem 0.375rem rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: space-evenly;
}

/* Footer
-------------------------------------------- */
footer {
  background: #e6ae65;
  width: 100vw;
  display: flex;
  overflow: hidden;
  height: 3.125rem;
  position: absolute;
  bottom: 0;
}
.footernav {
  display: flex;
  flex-basis: 90%;
  width: 1100px;
  margin: 15px auto;
  height: auto;
  justify-content: space-between;
}

.seperator {
  width: 1px;
  background: #1b203d;
}

/* Media Queries
-------------------------------------------- */
