ul li {
  font-family: "Doubleplus", sans-serif;
}

h1 {
  font-family: "Commando", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background: var(--orange);
  box-shadow: black 0px 5px 30px;
}

.nav-ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  list-style: none;
}
.nav-ul div {
  display: flex;
}

.nav-ul li a {
  position: relative;
  padding: 0px 0;
  color: var(--lightblue);
  text-decoration: none;
}

.nav-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-center li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.nav-center li a {
  font-size: 1.75em;
  color: var(--darkblue);
}

.nav-right-container li a,
.search-btn {
  font-size: 1.75em;
  color: var(--darkblue);
}

.search-txt {
  font-size: 1.2em;
}

.ham-menu {
  background: transparent;
  border: none;
  font-size: 30px;
  color: var(--darkblue);
  cursor: pointer;
  display: none;
}
.ham-menu {
  display: none;
}
.current-page {
  border-bottom: 2px solid var(--darkblue);
}

/*-------- HOVER EFFECTS ---------*/
.nav-center li a:hover {
  font-size: 1.9em;
  transition: 0.3s ease-out;
}

.navlogo:hover {
  scale: 1.05;
  transition: 0.3s ease-out;
}

.nav-right-container li a:hover {
  font-size: 1.9em;
  transition: 0.3s ease-out;
}

/*-------- MEDIA QUERIES ---------*/

@media (max-width: 828px) {
  .ham-menu {
    display: block;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--darkblue);
    left: -100%;
    top: 100px;
    transition: 0.5s;
    z-index: 10;
    flex-direction: column;
  }
  nav ul div {
    line-height: 75px;
  }
  ul.show {
    left: 0;
  }
  nav a img {
    scale: 0.8;
  }
  .nav-center li a,
  .nav-right-container li a,
  .search-btn {
    color: var(--orange);
    padding: unset;
  }
  .nav-center {
    flex-direction: column;
    align-items: center;
    margin-top: unset;
    margin-bottom: unset;
    padding-left: unset;
  }
  .nav-center li {
    margin-left: 0;
  }
  .nav-right {
    flex-direction: column;
    align-items: center;
    margin: unset;
  }
  .nav-right-container {
    flex-direction: column;
    align-items: center;
  }
  .current-page {
    border-bottom: 2px solid var(--orange);
  }
  .navlogo:hover {
    scale: 0.85;
  }
  .nav-center li a:hover {
    font-size: 1.8em;
  }
  .ham-menu {
    font-size: 2em;
  }
}

@media (max-width: 1000px) {
  .nav-center li a,
  .nav-right-container li a {
    font-size: 1.4em;
  }
}
