@import "imports/variables.css";
@import "imports/fonts.css";
@import "imports/navbar.css";
@import "imports/global.css";
@import "imports/banner.css";

/*-------- BANNER ---------*/

.banner-logo {
  width: 25vw;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*-------- CTA ---------*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  padding-top: 5vh;
  font-family: "Avenir ", sans-serif;
  color: var(--lightblue);
  font-size: 3vw;
  font-weight: lighter;
  border-bottom: 2px solid var(--orange);
}

.ctacontainer {
  margin-top: 7vh;
}
.cta {
  display: flex;
  flex-flow: row nowrap;
  text-decoration: none;
  align-items: center;
}
.fa-angle-right {
  font-size: 7vh;
  margin-left: 2vw;
  color: var(--darkblue);
}
.cta h3 {
  font-family: "Doubleplus", sans-serif;
  background: var(--darkblue);
  color: var(--lightblue);
  font-size: 4vh;
  font-weight: lighter;
  border-radius: 45px;
  width: 40vh;
  height: 7vh;
  padding-top: 2vh;
  text-align: center;
  flex-direction: column;
  display: flex;
}

/*-------- HOVER EFFECTS ---------*/
.cta h3:hover {
  color: var(--orange);
  transition: 0.3s ease-out;
  font-size: 4.1vh;
  width: 40.3vh;
  height: 7.3vh;
}
.fa-angle-right:hover {
  font-size: 7.3vh;
}

/*-------- MEDIA QUERIES ---------*/
@media (max-width: 828px) {
  .banner-logo {
    display: none;
  }
  .banner-txt {
    align-self: center;
    margin-left: 0;
    margin-top: 2vh;
  }
  .container h2 {
    font-size: 5vw;
  }
  .banner-txt {
    font-size: 15vw;
  }
  .cta h3 {
    height: 3vh;
    padding-top: 1vh;
    width: 17.5vh;
    font-size: 2vh;
  }
  .fa-angle-right {
    font-size: 5vh;
  }
}
